

.note-item {
    display: flex;
    gap: 20px; 
    padding: 20px 0;
    border-bottom: 1px solid #eee; 
    align-items: flex-start; 
    
}


.note-date {
    display: flex;
    flex-direction: column; /* 日期和月份垂直排列 */
    align-items: center; /* 日期和月份水平居中 */
    min-width: 60px; 
    flex-shrink: 0; 
    font-family: serif; 
    text-transform: uppercase; /* 文字转为大写 */
 
    
}

.note-day {
    font-size: 2em; /* 日期数字的字体大小 */
    font-weight: bold;
    color: #333; /* 深色文字 */
}

.note-month {
    font-size: 1em; /* 月份文字的字体大小 */
    color: #666; /* 灰色文字 */
    text-transform: uppercase; /* 月份文字转为大写 */
}


.note-content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    gap: 10px; /* 笔记文本和按钮之间的间距 */
}

.note-content p {
    margin: 0; 
    line-height: 1.5; 
    color: #333; 
}

/* Container for buttons */
.note-buttons {
    display: flex;
    gap: 10px; /* 按钮之间的间距 */
    justify-content: flex-end; 
   
}


.note-edit-button,
.note-delete-button {
    background-color: #202020; /* 深色背景颜色 */
    color: white; /* 白色文字颜色 */
    text-transform: uppercase; /* 文字转为大写 */
    padding: 10px 20px; /* 按钮内边距 */
    border: none; /* 移除默认边框 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    font-size: 1em; /* 字体大小 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 背景色和阴影的过渡动画 */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* 添加阴影 */
    justify-content: flex-end; 
}

.note-edit-button:hover,
.note-delete-button:hover {
    background-color: #ffffff; /* 悬停时背景颜色稍微变浅 */
    color: black; 
}

